services:
  web:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app:delegated
    environment:
      - RAILS_ENV=development
    depends_on:
      - redis

  redis:
    image: redis:5.0
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  sidekiq:
    build: .
    command: bundle exec sidekiq
    volumes:
      - .:/app:delegated
    environment:
      - RAILS_ENV=development
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis
      - web

volumes:
  redis_data: